* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1faee;
    color: #1d3557;
}

.container {
    max-width:  1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    background-color: #a8dadc;
    color: #1d3557;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 45px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 10px;
}

.content .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.rubberBtn {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #a3a3a3;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button-top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  .rubberBtn:hover .button-top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
    color: white;
  }
  
  .rubberBtn:active .button-top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

.clearBtn {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .clearBtn .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .clearBtn .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .clearBtn .front {
    display: block;
    position: relative;
    font-weight: bold;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: black;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .clearBtn:hover {
    filter: brightness(110%);
   }
   
   .clearBtn:hover .front {
    color: white;
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .clearBtn:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .clearBtn:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .clearBtn:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .clearBtn:focus:not(:focus-visible) {
    outline: none;
   }

.rainbowBtn {
    border: none;
    border-radius: 20px;
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    transition: all 1.5s ease;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0;
}
   
.rainbowBtn span {
display: inline-block;
padding: 15px 35px;
font-size: 17px;
border-radius: 20px;
background: #ffffff10;
backdrop-filter: blur(20px);
transition: 0.4s ease-in-out;
transition-property: color;
height: 100%;
width: 100%;
}
   
.rainbowBtn span:hover,
#rainbowOn span {
    backdrop-filter: blur(0px);
    color: #ffffff;
}

.PB-range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #D5DBE1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .PB-range-slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease-in-out;
  }
  
  .PB-range-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
  }
  
  .PB-range-slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #C6CACE;
    box-shadow: 0px 1px 2px 0px #1F1E241F;
  }
  
  .PB-range-slidervalue {
    font-weight: bold;
  }

.grid {
    height: 600px;
    width: 600px;
    border: 5px solid #1d3557;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.box {
    flex: 1;
    background-color: white;
}

.footer {
    text-align: center;
    background-color: #a8dadc;
}

.footer .container {
    padding: 10px;
}

.footer .container img {
    height: 20px;
    width: auto;
}