* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f1faee;
    color: #1d3557;
}

.container {
    max-width:  1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.header {
    background-color: #a8dadc;
    color: #1d3557;
}

h1 {
    text-align: center;
    padding: 10px;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rainbowBtn {
    border: none;
    border-radius: 20px;
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    transition: all 1.5s ease;
    font-family: 'Ropa Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.05rem;
    padding: 0;
}
   
#rainbowBtn span {
display: inline-block;
padding: 15px 35px;
font-size: 17px;
border-radius: 20px;
background: #ffffff10;
backdrop-filter: blur(20px);
transition: 0.4s ease-in-out;
transition-property: color;
height: 100%;
width: 100%;
}
   
#rainbowBtn span:hover {
    backdrop-filter: blur(0px);
    color: #ffffff;
}

.range-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.grid {
    height: 600px;
    width: 600px;
    border: 5px solid #1d3557;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.box {
    border: 1px solid #1d3557;
    flex: 1;
    background-color: white;
}

.footer {
    text-align: center;
    background-color: #a8dadc;
}

.footer .container {
    padding: 10px;
}

.footer .container img {
    height: 20px;
    width: auto;
}